<br>
<% if user_signed_in? %>
<h2 class="add-comment">Add a comment..</h2>
<%= form_for([@post, @post.comments.build], remote: true) do |f| %>

    <%= f.text_area :content, rows: 5, class:"text-area" %>

    <%= f.button class:"button2" %>
<% end %>
<% end %>