<div class="main_body">

  <p id="intro">
    Users
    <br>
    <span>
      Know more about people...
    </span>
  </p>
  <br>
  <br>

  <div class="wrapper">
    <%= render partial: 'users' %>
  </div>
  <%= will_paginate(@users) %>




