<div class="main_body">
  <% if user_signed_in? %>
      <p id="intro">
        Hello
        <%= current_user.name.capitalize %>
        <br>
        <span>
          What's new today.. Share your blog
        </span>
      </p>
  <% else %>
      <p id="intro">
        What's new today..
        <br>
        <span>
          You need to Register or Login to post.
        </span>
      </p>
  <% end %>
  <br>
  <br>

  <div id="posts">
    <%= render partial: 'posts' %>
  </div>
  <%= will_paginate @posts %>
</div>



