// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content-box{
  background: #fff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding:30px;
  box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
  //font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin-top: 48px;
  margin-right: 17%;
  margin-left: 17%;
  .user-content{
    display: flex;
    .usr-img{
      margin-right: 20px;
      img {
        border-radius: 50px;
        border: 0.2px solid lightgrey;
        padding: 3px;
        height: 90px;
        width: 90px;
      }
    }
    .other-details{
      .user-name{
        color: black;
        font-size: 18px;
        font-weight: 500;
      }
      .follow-link{
        .button-follow{
          text-decoration: none;
          border: 0.5px solid green;
          padding: 5px;
          margin: 5px;
          border-radius: 20px;
          font-size: 12px;
          font-family: 'Saira Condensed', sans-serif;
          letter-spacing: 2px;
          font-weight: bold;
          color: green;
        }
      }
      .cr-time {
        font-family: 'Raleway', sans-serif;
        color: darkgray;
      }
    }

  }

  hr.hr-asdf {
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    &:before{
      display: block;
      content: "";
      height: 30px;
      margin-top: -31px;
      border-style: solid;
      border-color: #8c8b8b;
      border-width: 0 0 1px 0;
      border-radius: 20px;
    }
  }

  .title{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 45px;
  }

}