<div id="email-wrapper">
  <div id="header">
    <table>
      <tbody>
      <tr>
        <td width="40px"><%= email_image_tag "mail.jpg", :class => "logo" %></td>
        <td>
          <h3>Welcome <%= @email %>!</h3>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="body">
    Hi <strong><%= @user.name.titleize %></strong>, Nice to see you on LIMITLESS. Get ready to be inspired.<br>
    You can confirm your account with this link:<br>
    <%= link_to 'Confirm your account', confirmation_url(@resource, confirmation_token: @token) %>
  </div>
</div>